//Declaracion de Variables

$color-de-fondo-main: white;
$color-de-fondo-navbar:#FFEEEE;
$color-de-fondo-footer:#FFEEEE;
$color-de-fuente-navbar:rgb(199, 124, 186);

$colores: (
    primario: rgb(199, 124, 186),
    secundario: #FFEEEE,

);