@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Roboto:wght@100;300;500;900&display=swap');

//Declaracion de Variables

$fuente_body: sans-serif;
$fuente_categorias: verdana;
$fuente_size_categorias: 12px;
$fuente_navbar: verdana;
$fuente_size_navbar: 15px;
$fuente_footer: arial;
$fuente_size_footer: 20px;
$fuente_size_copyright: 13px;
