@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Roboto:wght@100;300;500;900&display=swap");
nav {
  background-color: #FFEEEE;
}
nav ul {
  margin: 10px;
  padding: 0px;
  list-style-type: none;
}
nav li {
  font-family: verdana;
  font-size: 15px;
}
nav a {
  color: primario;
}

main div {
  font-family: verdana;
  font-size: 15px;
  color: primario;
}

footer section {
  font-family: arial;
  font-size: 20px;
  color: rgb(199, 124, 186);
}
footer p {
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #FFEEEE;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

.navbar .logo {
  width: AUTO;
  height: auto;
  grid-column: 1/2;
}

.navbar .menu {
  grid-column: 2/7;
  display: flex;
  justify-content: space-around;
}

.navbar .menu li {
  list-style: none;
}

.navbar .menu a {
  text-decoration: none;
  color: rgb(199, 124, 186);
  cursor: pointer;
}

.navbar .menu-bar {
  display: none;
}

.navbar .shopping {
  grid-column: 7/8;
}

.redesHeader{
  display: grid;
  max-width: 100%;
  grid-column: 9/12;
  justify-content: center;
}

.figure-caption {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background:rgb(253, 233, 247);
  color: rgb(154, 172, 207);
}

.main .compracuaderno {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}


.list-features {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(219, 73, 158);
}

.TEXTOCONTACTO {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(219, 73, 158);
}



.main .h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.main .main {
  grid-column: 1/8;
}

.main .cabecerafoto {
  display: grid;
  max-width: 100%;
}

.main .CUADERNOyAGENDA {
  display: grid;
  margin: auto;
}

.main .ALBUMFOTOS {
  display: grid;
  margin: auto;
}

.main .POSTALES {
  display: grid;
  margin: auto;
}

.main .categorias {
  display: grid;
  align-items: center;
  color: rgb(199, 124, 186);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
}

.main .cyatexto {
  display: grid;
  align-items: center;
  color: cornflowerblue;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 60px;
  padding: 5px;
  justify-content: center;
}

.main .AFTEXTO {
  display: grid;
  align-items: center;
  color: cornflowerblue;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 60px;
  padding: 5px;
  justify-content: center;
}

.main .postalestexto {
  display: grid;
  align-items: center;
  color: cornflowerblue;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 60px;
  padding: 5px;
  justify-content: center;
}

.section .list-features {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body {
 
  margin-right: 10px;
  margin-bottom: 20px;
  
}

.cuadernocompra {
  margin-top: 80px;

}

.cuadernocompra .card-img-top {
  overflow: hidden;
  transition: all 350ms ease;
  box-shadow: 1px 10px 15px rgba(0,0,0,0.50);

}

.card-img-top:hover {
 transform: scale(1.03);
}

.agendacompra .card-img-top {
  overflow: hidden;
  transition: all 350ms ease;
  box-shadow: 1px 10px 15px rgba(0,0,0,0.50);

}

.KITcompra .card-img-top {
  overflow: hidden;
  transition: all 350ms ease;
  box-shadow: 1px 10px 15px rgba(0,0,0,0.50);

}

.POSTALEScompra .card-img-top {
  overflow: hidden;
  transition: all 350ms ease;
  box-shadow: 1px 10px 15px rgba(0,0,0,0.50);

}

#categorias.categorias {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(236, 122, 192);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.card-img-top {
  border-radius: 5px;
}

.footer {
  margin-top: 120px;
}

.redesHeader {
  animation-name: initial;
  animation-duration: 2s;
}



/*# sourceMappingURL=estilos.css.map */
